body {
    font-family: Helvetica;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
}

.table-header {
	font-weight: bold;
}

#header {
	margin: 20px 0 30px 20px;
}

#input-area {
	float:left; 
	margin: 40px 40px;
	display: block;
}
#output-area {
	float: left;
	margin: 10px 0 0 30px;
}

#solution {
	display:none;
	margin: 50px;
}
#solution-button {
	margin: 20px 10px;
	position: absolute;
	top: 300px;
	left: 20px;
}
