html, body {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

body {
    font-family: "Lucida Sans Unicode";
    background: #E1E3E4;
    margin:  0px;
}

table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: left;
  background: #FFF;
}

td.solved {
	text-align:center;
}

h3 {
	margin-top: 0px!important;
}
/* site-wide header stuff */

#site-header {
	width: 100%;
	float: left;
	background:  #FFF;
	margin: 0px 0px 0px 0px;
	height: 76px;
}

#site-header-logo {
	width: auto;
	margin: 0px 0 0px 0px;
	padding: 25px;
	background: #444444;
	text-align: center;
	float:left;
}

#site-header-logo a, a:hover, a:visited {
	color:white;
	text-decoration: none;
}

#welcome-message {
	float:right;
	margin: 44px 0 0 0;
	font-size: 12px;
}

#site-header-menu {
	float: right;
	margin: 18px 5%;
	font-size: 48px;
	color: #444444;
}

#site-header-menu a, a:hover {
	color: #444444;
}

ul.hmenu {
  display: none;
  position: absolute;
  top: 76px;
  right: 0px;
  width: auto;
  height: auto;
  background: #444444;
  margin: 0;
  padding: 10px;
  text-align: left;
  line-height: 40px;
  font-size: 18px;
  list-style: none;
  z-index: 5;
}

ul.hmenu a {
	color: #FFF!important;
	text-decoration: none;
}

ul.hmenu a:hover {
	color: #65A7A1!important;
}


/* home page nav */
.pagination {
	text-align: center;
	width: 100%;
	background: #65A7A1;
	margin: 0px 0 20px 0!important;
	padding: 13px;
	display: inline-block;
	border-radius: 0!important;
}

.pagination a {
	margin: 0 10px;
	color: #FFF;
	text-decoration: none!important;
}
.pagination a:hover {
	color: #444444;
}

/*home page table*/

.table-of-contents {
	margin: 0px 20px 20px;
	width: 80%;
	max-width: 700px;
}
.table-of-contents a {
	color: #444444;
	text-decoration: none!important;
}

.table-of-contents a:hover {
	color: #65A7A1;
}

#current-page {
	margin: 0 10px;
}


/* login page */
#login-form {
	padding: 20px;
}
#login-button {
	margin: 10px;
}

/* problem page stuff */

.problem-header {
	margin: 0px;
	background: #65A7A1;
	padding: 0px;
	width:  100%;
}

.problem-header a {
	margin-top:  10px;
	color: #fff;
	text-decoration: none!important;
}

.problem-header a:hover {
	color: #444444;
}

.prev-problem {
	float: left;
	margin-left: 20px;
	color: #000!important;
}

.next-problem {
	float: right;
	margin-right: 40px;
	color: #000!important;
}

.problem-description {
	margin: 0 15%;
	padding: 10px 0;
}

#input-area {
	float:left; 
	margin: 5%;
	display: block;
}
#output-area {
	float: left;
	margin: 10px 0 30px 30px;
	width: auto;
}

#request-table {
	margin-bottom: 30px;
	max-width: 700px;
	width: 100%;
}
#number-result {
	width: 50px;
}
#time-result {
	width: 200px;
}
.table-header {
	font-weight: bold;
}
.table-header, .table-element {
	padding:10px;
}

#login-prompt a, a:hover {
	color: #65A7A1;
}

#solution {
	display:none;
	margin: 50px;
}
.solution-button {
	padding: 10px 16px;
	background: #65A7A1;
	float: right;
	margin: 0 5%;
	color: #FFF;
}

#contribute-form {
	list-style: none;
  	padding: 20px;
}

#contribute-form li {
	padding: 5px;
}

#footer {
	text-align:center;
	width: 100%;
	margin: 10px 15px 15px 0;
}
#footer a {
	color: #444444;
	text-decoration: none;
}
#footer a:hover {
	color: #65A7A1;
}

@media screen
    and (max-width: 600px)  {
    	#welcome-message {
    		display: none;
    	}
}
