{% extends 'base.html' %}

{% block content %}
	<ul class="pagination nav navbar-nav">
	        <p style="font-size:18px;color:white;margin:0px!important">What is this site?</p>
	 </ul>

	<div class="problem-description">
		I created this site to chronicle my journey through <a style="color:#65A7A1;text-decoration:none;" href="https://projecteuler.net/">Project Euler</a>. As I solve the problems detailed there, I will be updating this one with the algorithms used and generalized solutions where possible. If you have comments or questions, feel free to email me.
	</div>

{% endblock %}