<html>
	<head>
		<title> 
            {% block page_title %} 
                The Euler Cookbook
            {% endblock %}
        </title>
        
        {% block head_js %}
			<script src="{{ STATIC_URL }}js/jquery-2.1.4.min.js"></script>
			<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
		{% endblock %}
		{% block head_css %}
			<link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="shortcut icon" type="image/x-icon" href="{{ STATIC_URL }}images/euler.jpeg" />
			<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		{% endblock %}
	</head>

	<body>
		{% block header %}
			<div id="site-header">
				<div id="site-header-logo">
					<a href='{% url "site_home" %}'><h3>The Euler Cookbook</h3></a>
				</div>
				<div id="site-header-menu">
					<a href="#"><i class="fa fa-bars"></i></a>
					<ul class="hmenu">
	                    <li><a href='{% url "contribute" %}'>Contribute</a></li>
	                    <li><a href='{% url "about" %}'>About</a></li>
	                    <li><a href="https://github.com/zachcalvert/euler_cookbook">View on GitHub</a></li>
	                    <li>
	                    	{% if user.is_authenticated %}
							    <a href='{% url "logout" %}'>Logout</a>
							{% else %}
							    <a href='{% url "login" %}'>Login</a>
							{% endif %}
						</li>
	                </ul>
				</div>
				<div id="welcome-message">
					Welcome, {% if user.is_authenticated %}
							    {{ user.username }}
							{% else %}
							    Guest
							{% endif %}
				</div>
			</div>
			{% if messages %}
				<ul class="messages">
				    {% for message in messages %}
				    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
				    {% endfor %}
				</ul>
			{% endif %}
		{% endblock %}


		{% block solution %}{% endblock %}
		{% block description %}{% endblock %}

		{% block content %}
			<ul class="pagination nav navbar-nav">
			    {% if problems.has_previous %}
			        <a href="?page={{ problems.previous_page_number }}">Prev</a>
			    {% endif %}

			    {% for page in problems.paginator.page_range %}
				    {% if problems.number == page %}
				    	<span id="current-page">{{ page }}</span> |
				    {% else %}
				    	<a href="?page={{ page }}">{{ page }}</a> |
				    {% endif %}
				{% endfor %}

			    {% if problems.has_next %}
			        <a href="?page={{ problems.next_page_number }}">Next</a>
			    {% endif %}
			 </ul>

			<table class="table-of-contents">
				<tr>
					<td class="table-header">#</td>
					<td class="table-header">Title</td>
					<td class="table-header solved">Solved</td>
				</tr>
				{% for problem in problems %}
					<tr>
						<td class="table-element">{{ problem.number }}</td>
						<td class="table-element"><a href="{{ problem.get_absolute_url }}">{{ problem.title}}</a></td>
						<td class="solved">
							{% if problem.solved %}
								&#x2713;
							{% endif %}
						</td>
					</tr>
				{% endfor %}
			</table>
			
			<ul class="pagination nav navbar-nav">
			    {% if problems.has_previous %}
			        <a href="?page={{ problems.previous_page_number }}">Prev</a>
			    {% endif %}

			    {% for page in problems.paginator.page_range %}
				    {% if problems.number == page %}
				    	<span id="current-page">{{ page }}</span> |
				    {% else %}
				    	<a href="?page={{ page }}">{{ page }}</a> |
				    {% endif %}
				{% endfor %}

			    {% if problems.has_next %}
			        <a href="?page={{ problems.next_page_number }}">Next</a>
			    {% endif %}
			 </ul>
		{% endblock %}

		{% block footer %}
			<div id="footer">
				<a href="https://github.com/zachcalvert/euler_cookbook">View on GitHub</a><br>
			</div>
		{% endblock %}

		{% block extra_body_content %}
			<script>
			    $(document).ready(function () {
		            $('#site-header-menu a').click(function(){
		                if ($("ul.hmenu").is(":visible")) {
		                    $("ul.hmenu").slideUp(300);
		                    $('#site-header-menu a').css("color","#444444");
		                } else {
		                    $("ul.hmenu").slideDown(300);
		                    $('#site-header-menu a').css("color","#65a7a1");
		                }
		            });
			    });
			</script>
		{% endblock %}
	</body>

</html>