{% extends 'base.html' %}
{% load display_tags %}
	
{% block header %}
	{{ block.super }}
	<div id="header">
		<h3>Problem {{ problem.number }}: {{ problem.title}}   <a href="{{ problem.link }}">(view on project euler)</a></h3>
		{% if problem.number != 1 %}
			<a href="{{ problem | previous_url }}">Previous Problem</a>
		{% endif %}
		<a href="{{ problem | next_url }}">Next Problem</a>
	</div>
{% endblock %}	

{% block description %}
	<p>{{ problem.description }}</p>
{% endblock %}



{% block content %}

{% endblock %}

{% block extra_body_content %}
	
{% endblock %}