{% extends 'base.html' %}
{% load display_tags %}
	
{% block header %}
	{{ block.super }}
	<div class="problem-header">
		<h3>Problem {{ problem.number }}: {{ problem.title}}&nbsp;&nbsp;&nbsp;<a href="{{ problem.link }}">view on project euler</a></h3>
		{% if problem.number != 1 %}
			<a class="prev-problem" href="{{ problem | previous_url }}"> <&nbsp;&nbsp;&nbsp;Previous</a>
		{% endif %}
		<a class="next-problem" href="{{ problem | next_url }}">Next &nbsp;&nbsp;></a>
	</div>
{% endblock %}	

{% block description %}
	<div class="problem-description">
		<p>{{ problem.description }}</p>
	</div>
{% endblock %}



{% block content %}

{% endblock %}

{% block extra_body_content %}
	
{% endblock %}