{% extends 'base.html' %}
{% load display_tags %}
	
{% block header %}
	{{ block.super }}
	<div class="pagination">
		<span class="headerthree">Problem {{ problem.number }}: {{ problem.title}}&nbsp;&nbsp;&nbsp;<a style="font-size:14px" href="{{ problem.link }}">view on project euler</a></span>
		{% if problem.number != 1 %}
			<a class="prev-problem" href="{{ problem | previous_url }}"> <&nbsp;&nbsp;&nbsp;Previous</a>
		{% endif %}
		<a class="next-problem" href="{{ problem | next_url }}">Next &nbsp;&nbsp;></a>
	</div>
{% endblock %}	

{% block solution %}

	{% if problem.solved %}
		{% if user.is_authenticated %}
			<button type="button" class="solution-button" data-toggle="modal" data-target="#solutionModal">Show Solution</button>
		{% else %}
			<div id="login-prompt" style="top:320px; text-align: center; color: #65A7A1;">
				<a href='{% url "login" %}'>Log in to see the Solution!</a>
			</div>
		{% endif %}

		<!-- Modal -->
		<div id="solutionModal" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal">&times;</button>
		        <h4 class="modal-title">{{ problem }}</h4>
		      </div>
		      <div class="modal-body">
		        <p>{{ problem.solution | safe }}</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		      </div>
		    </div>
		  </div>
		</div>
	{% endif %}

{% endblock %}


{% block description %}
	<div class="problem-description">
		<p>{{ problem.description | safe }}</p>
	</div>
{% endblock %}



{% block content %}

{% endblock %}

{% block footer %}
{% endblock %}

{% block extra_body_content %}
	{{ block.super }}
	<script>
		$(document).ready(function () {
			$("#solution-button").click(function(){
		        if ($("#solution").is(":visible")) {
					$("#solution").slideUp(500);
					$("#solution-button span").text('Show solution');
		        } else {
		        	$("#solution").slideDown(500);
		        	$("#solution-button span").text('Hide solution');
		        }
			});
		});
	</script>
{% endblock %}