{% extends 'problem.html' %}

{% block description %}
	<div class="problem-description">
		<p>If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.<br> Find the sum of all the multiples of 3 or 5 below 1000.</p>
	</div>
{% endblock %}

{% block content %}
	<button id="solution-button" style="top:250px";
		<span class="ui-button-text">Show Solution</span>
	</button>

	<div id="solution">
		<p>We solve this with the following function:</p>
		<code>	
			def multiples_of_three_and_five(n):<br>
			"""<br>
			returns the sum of all the multiples of three and 5 less than the integer input n.<br>
			"""<br>
			&nbsp;&nbsp;&nbsp;return sum([i for i in range(n) if i % 3 == 0 or i % 5 == 0])
		</code>
	</div>
	<div id="input-area">
		<p>Enter any number <i>n</i> to see it in action!</p>
		<input type="text" id="id_calculator" value="">
		<input type="submit" id="submit-button" value="Calculate">
	</div>

	<div id="output-area">
		<table id="request-table" width="700px" style="margin-bottom: 30px;">
			<caption>Summation Log</caption>
			<tbody>
				<tr id="headers">
					<td class="table-header">n</td>
					<td class="table-header">Sum of multiples less than n</td>
					<td class="table-header">Timestamp</td>
				</tr>
				<tr id="placeholders">
					<td id="number-result">&nbsp;</td>
					<td id="value-result">&nbsp;</td>
					<td id="time-result">&nbsp;</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}

	{% block extra_body_content %}
		<script>
			$(document).ready(function () {
			    function calculateResult(number) {
			        $.ajax({
			        	// hard coded urls are bad
			            // url: 'http://localhost:8000/difference?number=' + number,
			            url: '{% url "problem_one" %}' + '?number=' + number,
			            type: 'get',
			            contentType: 'application/json',
			            success: function(response) {
			            	// fill table cells with results
			            	var response_data = JSON.parse(response);

			            	// check for existing entries for this number and remove
			            	$("#request-table tr td:nth-child(1)").each(function () {
			            		if (response_data.number == $(this).html()) {
			            			$(this).closest('tr').css('display', 'None');
			            		}
							});

			            	// prepend to top of the table
			            	$('#headers').after(
							    '<tr><td>' + 
							    	response_data.number + '</td><td>' +
							    	response_data.value  + '</td><td>' +
							    	response_data.last_requested  +
							    '</td></tr>');
			            },
			            error: function (jqXhr, textStatus, errorThrown) {
			                console.log(errorThrown);
			            }
			        });
			    };

			    $("#submit-button").click(function(){
			        var number = $( "#id_calculator" ).val()
			        calculateResult(number)
		    	});

		    	$("#solution-button").click(function(){
			        if ($("#solution").is(":visible")) {
						$("#solution").slideUp(500);
						$("#solution-button span").text('Show solution');
			        } else {
			        	$("#solution").slideDown(500);
			        	$("#solution-button span").text('Hide solution');
			        }
		    	});
			});
		</script>
	{% endblock %}