{% extends 'problem.html' %}

{% block extra_body_content %}
	{{ block.super }}
	<script>
		$(document).ready(function () {
		    function calculateResult(number) {
		        $.ajax({
		            url: '{% url "get_multiples_of_three_and_five" %}' + '?number=' + number,
		            type: 'get',
		            contentType: 'application/json',
		            success: function(response) {
		            	// fill table cells with results
		            	var response_data = JSON.parse(response);

		            	// check for existing entries for this number and remove
		            	$("#request-table tr td:nth-child(1)").each(function () {
		            		if (response_data.number == $(this).html()) {
		            			$(this).closest('tr').css('display', 'None');
		            		}
						});

		            	// prepend to top of the table
		            	$('#headers').after(
						    '<tr><td class="table-element">' + 
						    	response_data.number + '</td><td class="table-element">' +
						    	response_data.value  + '</td><td class="table-element">' +
						    	response_data.last_requested  +
						    '</td></tr>');
		            },
		            error: function (jqXhr, textStatus, errorThrown) {
		                console.log(errorThrown);
		            }
		        });
		    };

		    $("#submit-button").click(function(){
		        var number = $( "#id_calculator" ).val()
		        console.log(number)
		        calculateResult(number)
	    	});
		});
	</script>
{% endblock %}