<div id="input-area">
	<p>Enter any number <i>n</i> to see it in action!</p>
	<input type="text" id="id_calculator" value="">
	<input type="submit" id="submit-button" value="Calculate">
</div>

<div id="output-area">
	<table id="request-table">
		<caption>Log</caption>
		<tbody>
			<tr id="headers">
				<td class="table-header">n</td>
				<td class="table-header">{{ problem.output_column_header }}</td>
				<td class="table-header">Timestamp</td>
			</tr>
			<tr id="placeholders">
				<td id="number-result" class="table-element">&nbsp;</td>
				<td id="value-result" class="table-element">&nbsp;</td>
				<td id="time-result" class="table-element">&nbsp;</td>
			</tr>
		</tbody>
	</table>
</div>