{% extends 'base.html' %}
	
	{% block header %}
	{{ block.super }}
		<div id="header">
			<h3>Problem 19: Counting sundays</h3>
		</div>
	{% endblock %}

	{% block content %}
		<div id="input-area">
			<select id="id_weekday">
				<option value="0">Sunday</option>
				<option value="1">Monday</option>
				<option value="2">Tuesday</option>
				<option value="3">Wednesday</option>
				<option value="4">Thursday</option>
				<option value="5">Friday</option>
				<option value="6">Saturday</option>
			</select>
			<input type="text" id="id_day_of_month" name="Day of Month" value="">
			<input type="text" id="id_start_year" name="Start Year" value="">
			<input type="text" id="id_end_year" name="End Year" value="">
			<input type="submit" id="submit-button" value="Calculate">
			<p>Enter a number!</p>
		</div>

		<div id="output-area">
			<p id="answer"></p>
		<div>
	{% endblock %}

	{% block extra_body_content %}
		<script>
			$(document).ready(function () {
			    function calculateResult() {
			        $.ajax({
			        	// hard coded urls are bad
			            // url: 'http://localhost:8000/difference?number=' + number,
			            url: '{% url "calculate_days" %}',
			            type: 'post',
			            data: {
			            	'weekday': $('#id_weekday').find(":selected"),
                        	'day_of_month': $('#id_day_of_month').val(),
                        	'start_year': $('#id_start_year').val(),
                        	'end_year': $('#id_end_year').val()
                        },
			            contentType: 'application/json',
			            processData: false,
			            success: function(response) {
			            	console.log(response)
			            },
			            error: function (jqXhr, textStatus, errorThrown) {
			                console.log(errorThrown);
			            }
			        });
			    };

			    $("#submit-button").click(function(){
			    	var num = $('#id_weekday').find(":selected").val();
			    	console.log(num);
			        calculateResult()
		    	});
			});
		</script>
	{% endblock %}